<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2021-09-27 20:44:57 by Eclipse SUMO jtrrouter Version 1.10.0
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/jtrrouterConfiguration.xsd">

    <input>
        <net-file value="net.net.xml"/>
        <route-files value="flows.xml"/>
    </input>

    <output>
        <output-file value="routes.xml"/>
    </output>

    <processing>
        <no-internal-links value="true"/>
        <turn-defaults value="25,50,25"/>
        <accept-all-destinations value="true"/>
        <allow-loops value="true"/>
    </processing>

</configuration>
-->

<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
    <vehicle id="0.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0"/>
    </vehicle>
    <vehicle id="1.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1"/>
    </vehicle>
    <vehicle id="2.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0"/>
    </vehicle>
    <vehicle id="3.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1"/>
    </vehicle>
    <vehicle id="4.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1"/>
    </vehicle>
    <vehicle id="5.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0"/>
    </vehicle>
    <vehicle id="6.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0 A0A1 A1B1 B1B0 B0A0"/>
    </vehicle>
    <vehicle id="7.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0"/>
    </vehicle>
    <vehicle id="8.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0"/>
    </vehicle>
    <vehicle id="9.0" depart="0.00" departPos="random" departSpeed="max">
        <route edges="B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1 B1A1 A1A0 A0B0 B0B1"/>
    </vehicle>
</routes>
